img {
    position: static;
    height: 100px;
    z-index: 1000;
    /* Ensure the image is on top of other elements */
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    background: transparent;
}

.chartButton {
    /* remove borders and background color from button */
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* remove default button styling */
    padding: 0;
    font: inherit;
    color: inherit;
    margin: 10px;
}